a#run {
    text-decoration: none;
    border: 1px solid green;
}

a#run:hover {
    background-color: lightGreen;
}

.code {/* for code snipits */
    font-family: monospace;
    background-color: whiteSmoke;
    border: 1px solid grey;
    white-space: pre;
}
